* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://zenquotes.io/api/image"); */
  /* background-size: cover; */
  background-image: url("https://picsum.photos/1920/1080");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-display-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.754);
  padding: 0 50px;
}

h1,
h3 {
  font-family: "Salsa";
  font-weight: 500;
}

#gap {
  height: 5vh;
}
